 body{
    background-color: rgb(255, 227, 199);
 }
     h1{
    text-align: center;
    letter-spacing: -5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(109, 9, 0);
        font-size: 60px;
    }
    .st
    {
        text-align: center;
        letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 30, 30);
    font-size: 20px;
    }
    p{

        text-align: justify;
        letter-spacing: normal;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        font-size: 20px;
    }  